// Typo
// -------------------------

h1,
h2,
h3,
h4 {
  font-family: $font-bold;
}

p {
  font-family: $font-regular;
  font-size: 16px;
}

a {
  color: $color-monarch;
  font-family: $font-bold;

  &:hover {
    text-decoration: none;
  }

  &:visited {
    color: $color-monarch;
  }
}
