
//
// Global variables
// --------------------------------------------------

// Fonts

$font-regular: 'ACaslonPro-Regular';
$font-bold: 'ACaslonPro-Bold';
$font-italic: 'ACaslonPro-Italic';

// Colors
// Please use http://chir.ag/projects/name-that-color/#6195ED as reference for the colors name

$color-monarch: #8b0723;
$color-dove-grey: #666;
$color-gradient-end: rgba(255,255,255,0);
