//
// Mixins
// --------------------------------------------------

@mixin breakpoint($points) {
  @each $point in $points {
    @if $point == large {
      @media (min-width: $screen-lg-min) { @content; }
    } @else if $point == desktop {
      @media (min-width: $screen-md-min) and (max-width: $screen-lg-min) { @content; }
    } @else if $point == desktop-down {
      @media (max-width: $screen-md-max) { @content; }
    } @else if $point == tablet-up {
      @media (min-width: $screen-md-min) { @content; }
    } @else if $point == tablet-down {
      @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { @content; }
    } @else if $point == phone-up {
      @media (min-width: $screen-sm-min) { @content; }
    } @else if $point == phone {
      @media (max-width: $screen-xs-max)  { @content; }
    }
  }
}

@mixin fontFace($family, $style: normal, $weight: normal) {
  @font-face {
    font-family: $family;
    src: url('#{$font-url}/#{$family}.eot');
    src: url('#{$font-url}/#{$family}.eot?#iefix') format('embedded-opentype'),
         url('#{$font-url}/#{$family}.woff2') format('woff2'),
         url('#{$font-url}/#{$family}.woff') format('woff'),
         url('#{$font-url}/#{$family}.ttf') format('truetype'),
         url('#{$font-url}/#{$family}.svg##{$family}') format('svg');

    font-style: $style;
    font-weight: $weight;
  }
}
