.text-separator {
  background-image: linear-gradient(to right, $color-dove-grey 33.33333%, $color-gradient-end 0%);
  background-position: top;
  background-repeat: repeat-x;
  background-size: 3px 1px;
  border: 0;
  height: 1px;
  margin: 25px 0 20px;
}
