header {
  border: 0;

  .header-wrapper {
    align-items: center;
    display: flex;
  }

  .title {
    width: 70%;

    a {
      color: $color-black;
      font-family: $font-didot;
      font-size: 36px;
    }
  }

  .menu {
    display: flex;
    flex-direction: row-reverse;
    width: 30%;

    a {
      color: $color-black;
      font-size: 18px;
      font-family: $font-nobel;
      margin-right: 20px;

      &:first-child {
        margin-right: 0;
      }
    }
  }
}
